<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/index/head'); -%>
    <title>Document</title>
</head>
<body>
    <header>
        <%- include('../partials/index/header'); -%>
    </header>
    <main>

    </main>
    <%- include('../partials/index/footer'); -%>
</body>
</html>